.highlight {
    background-color: yellow; /* Warna latar belakang untuk menyorot karakter yang sesuai */
}

.result{
    font-size: 0.8rem;
    --box-shadow-color: white;
    box-shadow: 0 0 30px var(--box-shadow-color);
}

.result:hover{
    /* font-size: 1rem;
    padding-left: 50px; */
    padding: 2px 2px 4px 2px;
    --box-shadow-color: rgb(78, 121, 249);
}